.bg-class {
    // --background: linear-gradient(
    //     197deg,
    //     rgba(100, 100, 100, 1) 0%,
    //     rgba(63, 63, 63, 1) 13.5%,
    //     rgba(29, 29, 29, 1) 33.33%,
    //     rgba(0, 0, 0, 1) 100%
    // ) !important;

    color: #ffffff9e !important;
    // --background: linear-gradient(#26D0CE, #1A2980) !important;
    --background: linear-gradient(#4384dc, #62bffb) !important;
    margin: 0px !important;
    border-radius: 30px 30px 0px 0px;
}

.welcome-text {
    text-align: center !important;
    margin-top: -20px;
}

.card-wel-text {
    text-align: center !important;
    font-size: 14px !important;
    color: #ffffff;
    padding: 10px;
}

.card-wel-sm-text {
    text-align: center !important;
    font-size: 12px !important;
    color: #ffffffc7;
    padding: 10px 0px;
}

.button-class {
    border-radius: 30px !important;
    background: #ffffff !important;
    padding: 25px !important;
    color: #4384dc !important;
}

.getStarted-btn {
    --border-radius: 25px;
    text-align: center !important;
    text-transform: capitalize !important;
}

.bottom-text-class {
    color: #ffffffe3 !important;
    margin: 8px 0px !important;
    text-align: center !important;
}

.bottom-text-class p {
    font-size: 12px !important;
    margin-bottom: 20px !important;
}