<ion-content class="">
    <img class="ion-padding" src="./../../../assets/icon/welcome_Logo.png" />
    <h3 class="welcome-text">Welcome to Fun Chat</h3>
    <ion-card class="bg-class">
        <ion-card-content>
            <p class="card-wel-text">The easy way to fun with your friend and save a Memories</p>
            <p class="card-wel-sm-text">
                FunChat is a fast and fun way to share the moment with your friends and family FunChat opens right to the camera, so you can send a Snap in a seconds!
            </p>

            <ion-button expand="block" color="new" class="getStarted-btn" (click)="getStartedClick()">
                <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
                Getting Start
            </ion-button>

            <div class="bottom-text-class">
                <p>Create an account and access thousand of cool stuffs</p>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>