<ion-content>
    <ion-item *ngFor="let user of chatGroupFriendList" (click)="chatClick(user)">
        <ion-avatar slot="start">
            <img *ngIf="user?.photoURL === 'null' || user?.photoURL === null || user?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/dummy_user.png">
            <ng-template #imgElseBlock>
                <img [src]="user?.photoURL">
            </ng-template>
        </ion-avatar>
        <ion-label>
            <h2>{{user?.displayName}}</h2>
            <p>{{user?.aboutStatus}}</p>
        </ion-label>
    </ion-item>
</ion-content>