<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="backClick()">
                <ion-icon class="icon-color-class" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <h5 class="header-title-class">New Group</h5>
            <span class="ion-text-left">Add Group Members</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
    <div class="ion-card-class">
        <div class="img-wrapper">
            <img [src]="groupProfileImage" />
            <ion-button class="new-background-color" (click)="takeCamera()">
                <ion-icon slot="icon-only" name="camera-outline" color="light"></ion-icon>
            </ion-button>
        </div>

        <div class="content-wrapper">
            <form [formGroup]="newGroupForm">
                <ion-item>
                    <ion-input placeholder="Group Name *" formControlName="groupName" clearInput="true"></ion-input>
                </ion-item>
        
                <div *ngIf="(groupName.dirty || groupName.touched) && groupName.errors" class="errors">
                    <span *ngIf="groupName.errors?.required">* GroupName is required</span>
                    <span *ngIf="groupName.errors?.minlength">* GroupName needs to be 5 characters</span>
                </div>
        
                <ion-item>
                    <ion-input placeholder="Group Slogan" formControlName="groupSlogan" clearInput="true"></ion-input>
                </ion-item>

                <ion-item (click)="presentAlertCheckbox()">
                    <ion-label>Select Users</ion-label>
                    <ion-badge color="success" slot="end">{{selecteGroupMembers?.length}}</ion-badge>
                </ion-item>
            </form>

            <ion-button class="ion-padding-2" style="margin-top: 15px;" (click)="createGroupClick()" expand="full" color="secondary">Create Group</ion-button>
        </div>
    </div>
</ion-content>