<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="backClick()">
                <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-card-class">
        <div class="img-wrapper">
            <img [src]="profileImage" />
            <ion-button class="new-background-color" (click)="takeCamera()">
                <ion-icon slot="icon-only" name="camera-outline" color="light"></ion-icon>
            </ion-button>
        </div>

        <div class="content-wrapper">
            <h3>{{getCurrentUser?.displayName}}</h3>
            <ion-text color="medium">
                <p>{{getCurrentUser?.aboutStatus}}</p>
            </ion-text>
        </div>
    </div>
</ion-content>