.ion-card-class {
    margin: 25px 0px;
    position: relative;
    padding-top: 80px;

    .img-wrapper {
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);

        img {
            border-radius: 50%;
            height: 100px !important;
            width: 100px !important;
        }

        ion-button {
            --padding-start: 0;
            --padding-end: 0;
            --padding-bottom: 0;
            --padding-top: 0;

            --border-radius: 50%;
            height: 30px;
            width: 30px;
            position: absolute;
            right: 0%;
            bottom: 0px;
            ion-icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .content-wrapper {
        text-align: center;
    }
}
