<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="backClick()">
                <ion-icon class="icon-color-class" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <h5 class="header-title-class">Select Contact</h5>
            <span class="ion-text-left">{{usersList?.length}} Contacts</span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="searchClick()">
                <ion-icon class="icon-color-class" name="search-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-searchbar *ngIf="isShowSearch" [(ngModel)]="searchText" (ionClear)="searchClear($event.target.value)" (input)="searchUser($event.target.value)" placeholder="Search User"></ion-searchbar>
    <ion-list *ngIf="isAllUser else elseBlock">
        <ion-item (click)="newGroupChatClick()">
            <ion-avatar slot="start">
                <img src="../../../assets/icon/group_Chat_Logo.png">
            </ion-avatar>
            <ion-label style="font-weight: bold;">
                New Group
            </ion-label>
        </ion-item>
        <ion-item *ngFor="let user of usersList" (click)="chatClick(user)">
            <ion-avatar slot="start">
                <img *ngIf="user?.photoURL === 'null' || user?.photoURL === null || user?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/dummy_user.png">
                <ng-template #imgElseBlock>
                    <img [src]="user?.photoURL">
                </ng-template>
            </ion-avatar>
            <ion-label>
                <h2>{{user?.displayName}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>

    <ng-template #elseBlock>
        <h4>No Users in application</h4>
    </ng-template>
</ion-content>