ion-content {
    --offset-top: 0px !important;
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

ion-content::part(background) {
    height: 100% !important;
}

ion-title {
    padding-inline-start: 18% !important;
    padding-inline-end: 0 !important;
    text-align: left !important;
}

.header-title-class {
    margin-top: 5px !important;
}

.ion-text-left {
    position: absolute;
    top: 25px !important;
    left: 18% !important;
    font-size: 10px !important;
    padding: 3px 0px !important;
    font-weight: normal !important;
}
