<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title slot="start" class="title-class">FunChat</ion-title>
        <ion-avatar slot="end" (click)="showPopover($event)">
            <img class="profile-img" [src]="profileImage">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs color="primary" (ionTabsWillChange)="tabClicked($event)">
        <ion-tab-bar slot="top">
            <ion-tab-button tab="chatlist" [ngClass]="{active: selectedTab === 'chatlist'}">
                <ion-label class="text-class">Chats</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="calls" [ngClass]="{active: selectedTab === 'calls'}">
                <ion-label class="text-class">Calls</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="new-background-color" (click)="newUserListClick()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>