.msg-btn {
    background: linear-gradient(#4384dc, #62bffb) !important;
    border-radius: 50%;
    width: 45px;
    height: auto;
}

.msg-btn-icon-class {
    color: white !important;
    font-size: 24px !important;
    padding: 0px 5px !important;
}

.message-input {
    border: 1px solid #9e9e9ead !important;
    border-radius: 50px !important;
    width: 95% !important;
    height: auto !important;
    padding: 0px 15px !important;
    margin-top: -3px !important;
}

.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
    width: 50px !important;
    height: 45px !important;
}

.sc-ion-buttons-ios-s ion-button {
    --padding-start: 5px;
    --padding-end: 5px;
    margin-left: 2px;
    margin-right: 2px;
    width: 50px !important;
    height: 45px !important;
    font-size: 17px;
    font-weight: 400;
}

.sc-ion-buttons-ios-s ion-button:not(.button-round) {
    --border-radius: 4px !important;
    --padding-top: 12px !important;
    --padding-end: 12px !important;
    --padding-bottom: 12px !important;
    --padding-start: 12px !important;
    --border-radius: 50% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.message {
    padding: 10px 15px !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
    white-space: pre-wrap;
}

.my-message {
    background: var(--ion-color-tertiary);
    color: #fff;
    margin-left: calc(calc(3 / var(--ion-grid-columns, 14)) * 100%) !important;
}

.other-message {
    background: var(--ion-color-secondary);
    color: #fff;
    margin-left: calc(calc(1 / var(--ion-grid-columns, 34)) * 100%) !important;
}

.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}

ion-col.message.my-message::after {
    content: "" !important;
    position: absolute !important;
    right: -8px !important;
    border-right: 20px solid transparent !important;
    border-left: 0px solid transparent !important;
    border-top: 25px solid #5260ff !important;
    top: 0px !important;
}

ion-col.message.other-message::after {
    content: "" !important;
    position: absolute !important;
    left: -8px !important;
    border-right: 0px solid transparent !important;
    border-left: 20px solid transparent !important;
    border-top: 25px solid #62c2fe !important;
    top: 0px !important;
}

.footer-md::before {
    background: none !important;
    top: 0px !important;
}

.footer-ios::before {
    background: none !important;
    top: 0px !important;
}
