<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-grid>
            <ion-row justify-content-between>
                <ion-col size="1">
                    <div (click)="backClick()">
                        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
                    </div>
                </ion-col>

                <ion-col size="8">
                    <div>
                        <img style="width: 20px; height: 20px;" *ngIf="chatUserData?.photoURL === 'null' || chatUserData?.photoURL === null || chatUserData?.photoURL === undefined else imgElseBlock" src="../../../assets/icon/dummy_user.png">
                        <ng-template #imgElseBlock>
                            <img style="width: 20px; height: 20px;" [src]="chatUserData?.photoURL">
                        </ng-template>
                        {{chatUserData?.displayName}}
                        <span style="font-size: 8px;">Online</span>
                    </div>
                </ion-col>

                <ion-col size="3">
                    <div>
                        <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
                        <ion-icon name="call-outline" slot="icon-only"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content #content appScrollbarTheme fullscreen [scrollEvents]="true">
    <!-- <ion-item> -->
        <ion-grid>
            <ion-row *ngFor="let message of chatMessage">
                <ion-col *ngIf="!message.isDummy" size="9" class="message" [offset]="(message.uid === getCurrentUser.uid) ? 3 : 0" [ngClass]="{ 'my-message': (message.uid === getCurrentUser.uid), 'other-message': (message.uid !== getCurrentUser.uid) }">
                    <!-- <b>{{ message.userName }}</b><br> -->
                    <span>{{ message.content }}</span>
                    <span class="time ion-text-right"><br>{{ message.createdAt | date: 'shortTime' }}</span>
                </ion-col>

                <p *ngIf="message.isDummy">{{message.dummyMsg}}</p>
            </ion-row>
        </ion-grid>
    <!-- </ion-item> -->
</ion-content>

<ion-footer>
    <ion-toolbar style="padding: 5px 5px !important;">
        <ion-textarea rows="1" placeholder="Type a message" [(ngModel)]="newMessage" autoGrow="false" class="message-input" maxLength="500"></ion-textarea>
        <ion-buttons slot="end" class="msg-btn" (click)="sendMessage()">
            <ion-button fill="clear">
                <ion-icon class="msg-btn-icon-class" name="send-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>