<ion-content class="ion-padding">
    <img class="logo-class" src="./../../../assets/icon/funChat_Logo.png" />
    <h3 class="title-class">Sign In Now</h3>
    <p class="small-text-class">Please Login to continue using our app</p>

    <form [formGroup]="credentialForm">
        <ion-item>
            <ion-input placeholder="Email *" formControlName="email" clearInput="true"></ion-input>
        </ion-item>

        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">* Email is required</span>
            <span *ngIf="email.errors?.email">* Email is Invalid</span>
        </div>

        <ion-item>
            <ion-input placeholder="Password *" type="password" formControlName="password" clearInput="true"></ion-input>
        </ion-item>

        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
            <span *ngIf="password.errors?.required">* Password is required</span>
            <span *ngIf="password.errors?.minlength">* Password needs to be 3 characters</span>
        </div>

        <p class="small-text-class-bold" (click)="forgotPasswordClick()">Forgot Password ?</p>
    </form>

    <ion-button class="ion-padding-2" (click)="signInClick()" expand="full" color="secondary">Sign In</ion-button>
    <p class="small-text-class">Don't have an account ? <span (click)="signUpClick()">Sign Up</span></p>
    <p class="small-text-class" style="margin: 25px 0px;">Or Connect with</p>

    <div class="social-logo">
        <ion-icon class="fb-class" name="logo-facebook"></ion-icon>
        <ion-icon class="tw-class" name="logo-twitter"></ion-icon>
        <ion-icon class="gp-class" name="logo-google"></ion-icon>
    </div>
</ion-content>