<ion-content>
    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/icon/user_Logo.png">
        </ion-avatar>
        <ion-label>
            <h2>Finn</h2>
            <p>Today, 8.30 am</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-content>