/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.errors {
    font-size: small;
    color: var(--ion-color-danger);
    // background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.logo-class {
    // width: 50% !important;
    // height: auto !important;
    // margin: 10px 25%!important;

    width: 37% !important;
    height: 65px !important;
    margin: 0px 30% !important;
}

.title-class {
    text-align: center;
    font-weight: bold;
}

.small-text-class {
    text-align: center;
    color: #bec4c6 !important;
    font-size: 12px !important;
}

.small-text-class span{
    color: #62c2fe !important;
}

.small-text-class-bold {
    text-align: right;
    color: #bec4c6 !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.social-logo {
    display: inline;
    padding: 0px 14%;
}

.fb-class {
    color: #3f51b5;
    font-size: 50px;
}

.tw-class {
    padding: 0px 15px;
    background: #62c2fe;
    height: 45px;
    border-radius: 50px;
    color: white;
    // margin: 0px 15px;
    margin: 0px 9px;
}

.gp-class {
    background: #de4a36;
    padding: 0px 15px;
    height: 45px;
    border-radius: 50px;
    color: white;
}

.ion-padding-2 {
    text-transform: capitalize !important;
}

.new-background-color{
    --background: linear-gradient(#4384dc, #62bffb) !important;
    color: #fffffff0 !important;
}

.title-class {
    left: -30% !important;
}

.profile-img {
    width: 50% !important;
    height: 50% !important;
    margin: 25% !important;
}

.active {
    border-bottom: 2px solid #4384dc !important;
}

.text-class {
    font-size: 16px !important;
}

.icon-color-class {
    color: #fffffff0 !important;
}
